body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.container {
    width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    margin: 5px;
    width: 30%;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
}

table {
    width: 100%;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
}

.delete-btn {
    background-color: red;
}
